.Wrapper {
    background-color: rgb(255, 245, 192, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.SubWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    min-height: 60vh;
    min-width: 50vh;
    background-image: linear-gradient(147deg, #fff5c0 0%, #ffb396 74%);
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.SubWrapper:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.LoginIllustration {
    position: relative;
    bottom: 20%;
}

.Header {
    padding: 20px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: xx-large;
}